root = true #所在目录是项目根目录，此目录及子目录下保存的文件都会生效

[*] #对于所有文件
indent_sytle = space #缩进风格
tab_width = 4
charset = utf-8 #文件编码格式
end_of_line = lf #行尾格式，windows一般为crlf,linux一般为lf
insert_final_newline = true #文件结尾添加换行符，以防止警告
